<div class="fondo-coches d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="border border-2 rounded p-3 text-center text-white bg-warning">
    <h2 class="h1 m-5">Bienvenido <span class="border border-1 rounded p-2 bg-white text-warning">{{ selectedMatricula }}</span></h2>
    <hr class="border-white opacity-100 rounded">
    <p class="fs-3">¿Qué quieres hacer hoy?</p>
    <div class="d-flex justify-content-center">
      <button class="fs-5 btn btn-primary m-3 text-white" (click)="goToListaTickets()">Ver mis tickets</button>
      <button class="fs-5 btn btn-secondary m-3 text-white">Pagar un ticket</button>
      <button class="fs-5 btn btn-primary m-3 text-white" (click)="nuevoTicket()">Nuevo ticket</button>
      <button class="fs-5 btn btn-primary m-3 text-white" (click)="abrirModal()">Nuevo ticket</button>

    </div>
    <div *ngIf="mensaje" class="alert mt-2" [ngClass]="{'alert-danger': mensaje.startsWith('Error'), 'alert-success': mensaje.startsWith('Ticket añadido')}">
  {{ mensaje }}
</div>

<div class="border border-2 rounded p-3 text-center text-black bg-white">
  <router-outlet />
</div>

    <div>
      <button (click)="goToHome()" class="fs-5 btn btn-success m-3">Cerrar sesión</button>
    </div>
  </div>
</div>
