<div class="fondo-coches d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="border border-2 rounded p-3 text-white bg-warning">
    <div class="border border-2 rounded p-3 bg-white m-3">
      <h2 class="text-danger text-left">Error 404: <br>Página no encontrada</h2>
    </div>
    <div class="text-center">
      <p class="fs-5">La página que estás buscando no existe.</p>
      <button (click)="goToHome()" class="fs-5 btn btn-success m-3">Volver al inicio</button>
    </div>

  </div>
</div>
