.fondo-coches {
  background-image: url(https://media.istockphoto.com/id/1125272734/photo/blurred-out-door-car-park-with-sunlignt.jpg?s=612x612&w=0&k=20&c=GcufK0Nx3ZKSTgQDVWcSc3PKX_3ayisepZjQY7V4tBI=);
  background-size: cover;
  background-position: center;
  position: relative;
}

.invalido {
  border-color: red;
  border-width: 3px;
}
