<div *ngIf="ticketData" class="rounded text-black p-2 m-2"
  [ngClass]="{'bg-success': ticketData.estado === 'terminado', 'bg-danger': ticketData.estado !== 'terminado'}">
  <div class="border border-1 p-3 bg-white">
    <div class="d-flex row">
      <div class="col-12 col-lg-6">
        <h2>Detalles del Ticket</h2>
        <p><strong>ID Ticket:</strong> {{ ticketData.id }}</p>
        <p
          [ngClass]="{'text-success': ticketData.estado === 'terminado', 'text-danger': ticketData.estado !== 'en_curso'}">
          <strong>Estado:</strong> {{ ticketData.estado === 'terminado' ? 'Terminado' : 'En curso' }}</p>
        <p><strong>Precio por hora:</strong> {{ ticketData.vehiculo.tipoVehiculo.tarifaHora }}€</p>
        <p><strong>Hora de Inicio:</strong> {{ ticketData.horaInicio | date:'dd/MM/yyyy HH:mm:ss' }}</p>
        <p><strong>Hora de Fin:</strong>
          {{ ticketData.horaFin ? (ticketData.horaFin | date:'dd/MM/yyyy HH:mm:ss') : 'Ticket en curso' }}</p>
        <p><strong>Duración:</strong> {{ calcularDuracion()}}</p>
        <p><strong>Precio final:</strong> {{ ticketData.precio }}€</p>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-center align-items-end">
        <button *ngIf="ticketData.estado === 'en_curso'" class="fs-5 btn btn-success m-3 text-white" (click)="abrirModalAmpliar()">Ampliar
          ticket</button>
        <button *ngIf="ticketData.estado === 'en_curso'" class="fs-5 btn btn-danger m-3 text-white" (click)="abrirModalFinalizar()">Finalizar
          ticket</button>
      </div>
    </div>

  </div>
</div>
