<div class="fondo-coches d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="border border-2 rounded p-3 text-center text-white bg-warning">
    <h2 class="h1 m-5">ParkingAPP</h2>
    <hr class="border-white opacity-100 rounded">
    <form (ngSubmit)="login()">
      <div class="form-group m-4">
        <p class="fs-3">Selecciona la matrícula de tu vehículo:</p>
        <select required id="matriculaSelect" [(ngModel)]="selectedMatricula" name="matricula"
          class="fs-3 m-2 rounded">
          <option value="" selected disabled>Matrícula</option>
          <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.matricula">{{ vehiculo.matricula }}</option>
        </select>
        <p *ngIf="!selectedMatricula" class="border border-2 rounded bg-white p-2 fs-5 text-danger">Por favor, selecciona una matrícula.</p>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="fs-5 btn btn-primary m-3" [disabled]="!selectedMatricula">Iniciar sesión</button>
        <button (click)="goToAddVehiculo()" class="fs-5 btn btn-success m-3">Añadir vehículo</button>
      </div>
    </form>
  </div>
</div>
